.contenedorCatalogo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogo {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-around;
}

.botonMostrarMichiFact {
background-color: pink;
color: red;
}